// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #52de97;
$gray: #4f5352;
$light-gray: #F4F4F4;
$npl-blue: #394a6d;
$npl-lightgreen: #c0ffb3;

