.bidshow-title{
  font-weight:600;
  letter-spacing: .3rem;
  text-decoration: underline;
}

.bidshow{
  font-size: 24px !important;
  line-height: 2rem !important;
  strong{
  color: $green;
  }
}

#debtor-info{
  color: $npl-blue;
  background-color: #f8c445;
  opacity: 0.6;
  &:hover{
    opacity: 1;
    border-color: #f8c445;
  }
}