.bid-new-content{
  h2{
    color:#ffff;
    text-align:center;
  }
}

#new_bid{
  background-color: #ffffff;
  margin: 100px auto;
  padding: 20px;
  width: 70%;
  width: calc(100%);
  border-radius: 8px;
  margin:30px auto;
}
