    
.dd-edit-content{
  background-color: #ffff;
  border-radius: 0px;
  padding: 2rem 0;
  margin: 32px 0;
  h4{
    font-size:19px;
    color: $npl-blue;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
}

.titles{
  text-align: center;
  h2{
    color: $npl-blue;
  }
  h3{
    text-shadow: none;
    color: $npl-darkgreen
  }
  margin-bottom: 2rem;
}

.documents{
  h3{
    color: $npl-blue
  }
  p{
    color:blue;
  }
}

#separator-lg{
  margin: 2rem 0;
  height: 700px;
  border-left: 1px solid;
  border-color: #dfdfdf;
}

.message-form{
  margin-top: 1.5rem;
  position:relative;
  &:focus {
    border: 1.5px solid $npl-blue;
    outline: none !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  }
}

.message-form-submit{
  text-decoration:none;
  font-size:2rem;
  margin:0;
  color: $npl-blue;
  &:hover{
    color:$green;
  }
}
