    
.dd-edit-content{
  background-color: #ffff;
  border-radius: 0px;
  padding: 2rem 0;
  margin: 32px 0;
  h4{
    font-size:19px;
    color: $green;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: underline;
  }
}

.titles{
  text-align: center;
  h2{
    color: $npl-blue;
  }
  h3{
    text-shadow: none;
    color: $npl-darkgreen
  }
  margin-bottom: 2rem;
}

.documents{
  h3{
    color: $npl-blue
  }
  p{
    color:blue;
  }
}

#separator-lg{
  margin: 2rem 0;
  height: 700px;
  border-left: 1px solid;
  border-color: #dfdfdf;
}
