.dd-cards{
  padding:2rem;
}

.dd-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  margin: 2rem 8px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: calc(100%/4);
  h2{
    line-height: 1.5em;
    margin-top: -1em;
    min-width: 100%;
    background-color: $green;
    text-align:center;
    font-weight:bold;
    z-index: 10;
  }
  a{
    color:$npl-blue;
    font-size:1.3rem;
  }
  .card-text{
    list-style-type: none;
    margin:0;
    padding:0;
    vertical-align: bottom;
    .dd-date{
      color: $npl-blue;
      text-align: center;
    }
    li{
      height:100%;
      font-size:16px;
      line-height: 45px;
      padding: 0 2rem;
    }
  }
  p{
    color: $npl-blue;
    border-radius: 25px;
    text-align: right;
  }
}

.fa-check{
  font-size: 20px;
  color: $green;
}

.fa-clock{
  font-size: 20px;
  color: #f8c445;
}