// Specific CSS for your home-page

.steps{
  position:relative;
  background-color: white;
  padding: 70px 0;
  border-top: 7px solid $green;
  h3{
  color:$green;
  font-weight:600;
  }
}

.yield-description {
  background-color: $npl-blue;
  background-size: cover;
  padding: 50px;
  h2 {
    color: $green;
    font-weight: bold;
    text-align: center;
  }
  p {
    font-size: 20px;
    color: white;
    text-align: center;
  }
}
