.debtor-info{
  .debtor-info-card{
    
  }
  h3{
    color:$green;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 0.5rem 0;
  }
  h4{
    line-height: 1.5;
  }
  h5{
    font-weight: 600;
    font-size: 18px;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  table{
    width:100%;
  }
  .personal-info{
    margin: 1rem 0;
  }
  .work-history{
    margin: 1rem 0;
  }
  .legal{
    margin: 1rem 15px;
    .legal-table{
      width:80%;
      text-align:center;
    }
  }
  .updates{
    margin: 1rem 15px;
  }
}