.npl-new-content{
  h2{
    color:$npl-blue;
    text-align: center;
    font-size:40px;
    letter-spacing: .2rem;
    font-weight: 600;
    margin-top: 2rem;
  }
  p{
    color: white;
    font-size:24px;
    text-decoration: underline white;
    text-align: center;
    letter-spacing: .2rem;
  }
  .user-offer{
   color: $green;
   font-size:24px;
   text-decoration: none;
   text-align: center;
 }
}


#new_npl{
  background-color: #ffffff;
  margin: 100px auto;
  padding: 20px;
  width: 70%;
  width: calc(100%);
  border-radius: 8px;
  margin-top:30px;
}