.npl-index{
  .search-form-control{
    margin-top: 1.5rem;
    position:relative;
    .form-control:focus {
      border: 1.5px solid $npl-blue;
      outline: none !important;
      box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    }
    #search_npl_name{
      height: 3.5rem;
    }
    .btn{
      padding: 6px 24px;
      position:absolute;
      right: 8px;
      top: 8px;
      color: $npl-blue;
      border: 1.5px solid $npl-blue;
      background-color: white;
      &:hover{
        border: 2px $green solid;
        background-color: $green;
        color:$npl-blue;
      }
    }
  }

  .page-title{
    padding: 20px 0;
    background-color: $npl-blue;
    color: white;
    font-weight: 700;
    letter-spacing: .3rem;
  }

  .cards{
    margin-top: 0;
  }

  .npl-card{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100%/3.5);
    padding: 16px;
    margin: 16px 16px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    h2{
      line-height: 1.5em;
      margin-top: -1em;
      min-width: 100%;
      background-color: $green;
      text-align:center;
      font-weight:bold;
      z-index: 10;
    }
    a{
      color:$npl-blue;
      font-size:1.3rem;
    }
    .card-text{
      list-style-type: none;
      margin:0;
      padding:0;
      vertical-align: bottom;
      .book_value{
        color: $npl-blue;
      }
      li{
        font-size:16px;
        line-height: 45px;
        }
      }
    .fa-award{
      position: absolute;
      bottom: -20px;
      right:-20px;
      color: $yellow;
      font-size: 50px;
      background-color:$npl-blue;
      width: 80px;
      height: 80px;
      line-height:80px;
      border-radius: 50%;
    }
  }

  .npl-index-btn{
    .btn{
      z-index:30;
      color: $npl-blue;
      border: 1.5px solid $npl-blue;
      background-color: white;
      margin-left: -288px;
      position:fixed;
      box-shadow: 0 0 10px rgba(0,0,0,0.7);
      text-align:center;
      left:50%;
      bottom: 20px;
      width: calc(100%/2.5);
      letter-spacing:0.2em;
      transition: 0.4s all 0s ease;
      &:hover{
        border: 1.5px solid $green;
        background-color: $green;
        color:$npl-blue;
      }
    }
  }
}