.npl-new-content{
  h2{
    color:white;
    text-align: center;
    font-size:40px;
  }
  p{
    color: white;
    font-size:24px;
    text-decoration: underline white;
    text-align: center;
  }
  .user-offer{
   color: $green;
   font-size:24px;
   text-decoration: none;
   text-align: center;
 }
}


#new_npl{
  background-color: #ffffff;
  margin: 100px auto;
  padding: 20px;
  width: 70%;
  width: calc(100%);
  border-radius: 8px;
  margin-top:30px;
}