.npl-card{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100%/3.5);
  padding: 16px;
  margin: 16px 16px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  h2{
    text-align:center;
    font-weight:bold;
    font-size: 32px;
  }
  .card-text{
    list-style-type: none;
    margin:0;
    padding:0;
    vertical-align: bottom;
    li{
      display: inline-block;
      font-size:16px;
      line-height: 45px;
    }
  }
}

.npl-index-btn{
  margin-left: -288px;
  border-radius: 16px;
  position:fixed;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
  text-align:center;
  left:50%;
  bottom: 20px;
  width: calc(100%/2.5);
  .btn{
    border-radius:16px;
  }
}