.cockpit{
  min-height: calc(100vh - 100px);
  margin-bottom: 1rem;
  padding: 0px;
  display:flex;
  background-color: #ffff;
  border-radius:2px;
  #sidebar{
    background-color:$npl-blue;
    padding:16px;
    .sidebar-icon{
      font-size:2em;
      color:white;
    }
  }
  .cockpit-cards{
    .cockpit-card{
      padding: 16px;
      border-radius: 4px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      h2{
        font-size: 1.3rem;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 1.5rem;
      }
    }
  }
}

#cockpit-form{
  .form-group{
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    .form-control{
      font-size:14px;
      margin: 0.3rem 16px;
    }
  }
}
.npl-card-selling{
  width: calc(100%/2);
  height:100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding:8px;
  ul{
    margin:0;
    padding:0;
  }
  li{
    list-style: none;
    margin-bottom: 1rem;
  }
}