// PAGE CONTENT

.cockpit{
  min-height: calc(100vh - 100px);
  margin-bottom: 0;
  padding: 0px;
  display:flex;
  background-color: #ffff;
  border-radius:2px;
  #sidebar{
    background-color:$npl-blue;
    padding:16px;
    max-width: 4rem;
    .sidebar-icon{
      color:white;
    }
    .user-icon{
        font-size:2rem;
      }
    .pie-chart{
        font-size:1.6rem;
      }
    .wallet{
      font-size:1.6rem;
    }
  }

// EACH QUARTER
  .cockpit-cards{
    margin-left: 1px;
    margin-right: 1px;
    .cockpit-card{
      padding: 16px;
      border-radius: 4px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      h2{
        font-size: 1.3rem;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 1.5rem;
      }

    }
  }
}

// QUARTER 1 - PERSONAL INFO
.user-info{
  margin-left: 1rem;
}
#cockpit-form{
  .name-info{
    font-size: 26px;
    margin-bottom: 50px;
    text-align: center;
  }
  .cpf_cnpj-info{
    font-size: 14px;
    margin-bottom: 50px;
    justify-content: center;
  }
  .form-group{
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    .form-control{
      font-size:14px;
      margin: 0.3rem 16px;
    }
  }
}

// QUARTER 3 - NPL OFFERS

.npl-selling{
  overflow: auto;
  white-space: nowrap;
}
.npl-card-selling-sold{
  height:100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding:8px;
  background-color: rgb(211, 211, 211);
  h3{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 20px;
    a{
      color: #4f5352;
      font-weight: 700;
    }
  }
  ul{
    margin:0;
    padding:0;
  }
  li{
    font-size: 0.8rem;
    list-style: none;
    margin-bottom: 1rem;
    line-height: 1rem;
    color: #4f5352;
  }
}

.npl-card-selling-avaliable{
 height:100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding:8px;
  background-color: rgb(211, 211, 211);
  h3{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 20px;
    a{
      color: #4f5352;
      font-weight: 700;
    }
  }
  ul{
    margin:0;
    padding:0;
  }
  li{
    font-size: 0.8rem;
    list-style: none;
    margin-bottom: 1rem;
    line-height: 1rem;
    color: #4f5352;
  }
}
// QUARTER 4 - BIDS

.npl-bidding{
  overflow: auto;
  white-space: nowrap;
  max-height: 284px;
}
// STAS
.cockpit{
  .dashboard-stat .counter {
      font-size: 28px;
      display: block;
  }
  .dashboard-stat {
      display: block;
      padding: 30px 15px;
      text-align: right;
      position: relative;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      color:#fff;
  }

  .bg-primary {
    color: #fff;
    background-color: #337ab7 !important;
  }
  .bg-success {
    color: #fff;
    background-color: #27ae60 !important;
  }
  a {
    color: #337ab7;
    text-decoration: none;
  }

  .row {
    margin-left: 1px;
    margin-right: 1px;
  }
}


.badge-primary {
  color: #fff;
  border-radius: 20px;
  background-color: #337ab7 !important;
  border-color: #337ab7 !important;
  text-color: white;
  font-size: 1.6rem;
}
.badge-danger {
  border-radius: 20px;
  font-size: 1.6rem;
  position: center;
}
