<div class="npl-index">
  <div class="page-title">
    <h2 class="text-center"> AVAILABLE DUE-DILIGENCES</h2>
  </div>
    <div class="cards dd-cards d-flex justify-content-between flex-wrap">
      <% @dd.each do |dd| %>
      <div class="dd-card">
        <h2 class="hvr-grow-shadow"><%= link_to dd.npl.name.upcase, edit_npl_due_diligence_path(dd.npl, dd) %></h2>
        <ul class="card-text">
          <li class="d-flex justify-content-between align-items-center"><strong>Assignment Date:&nbsp;&nbsp;</strong> <span class="dd-date"><%= dd.created_at.strftime("%d/%m/%Y") %>&nbsp;&nbsp;<i class="far fa-calendar-alt"></i></span></li>
          <li class="d-flex justify-content-between align-items-baseline"><strong>Credit Contract:&nbsp;&nbsp;</strong>
            <% if dd.contract_document.present? %>
              <p><em>Posted</em> &nbsp;&nbsp;&nbsp; <i class="fas fa-check"></i></p>
            <% else %>
              <p><em>Awaiting</em></p> &nbsp;&nbsp;&nbsp; <i class="far fa-clock"></i>
            <% end %>
          </li>
          <li class="d-flex justify-content-between align-items-baseline"><strong class="flex-grow-1">Collateral Contract:&nbsp;&nbsp;</strong>
            <% if dd.collateral_document.present? %>
              <p><em>Posted</em> &nbsp;&nbsp;&nbsp; <i class="fas fa-check"></i></p>
            <% else %>
              <p><em>Awaiting</em></p> &nbsp;&nbsp; <i class="far fa-clock"></i>
            <% end %>
          </li>
          <li class="d-flex justify-content-around align-items-baseline"><strong class="flex-grow-1">Other Documents:&nbsp;&nbsp;</strong>
            <% if dd.other_document.present? %>
              <p><em>Posted</em> &nbsp;&nbsp;&nbsp; <i class="fas fa-check"></i></p>
            <% else %>
              <p><em>Awaiting</em> &nbsp; <i class="far fa-clock"></i></p>
            <% end %>
          </li>
        </ul>
      </div>
      <% end %>
    </div>
</div>