
<div class="container">
<h1>Coloque um bid</h1>
  <%= simple_form_for [@npl, @bid] do |f| %>
    <%= f.input :value %>
    <%= f.submit "Add a bid", class: "btn btn-primary" %>
  <% end %>
<%= link_to 'Back', npls_path %>
</div>


