<%= simple_form_for [@npl,@dd], method: 'PUT' do |f| %>

  <div class="d-flex flex-column justify-content-around">
      <input class="hidden" type="checkbox" name="due_diligence[book_value_valid] " id="due_diligence_book_value_valid">
      <label class= "dd-boolean d-flex align-items-center" for="due_diligence_book_value_valid">
        <i class="far fa-check-circle check-icon"></i> Book Value
      </label>

    <input class="hidden" type="checkbox" name="due_diligence[npl_type_valid]" id="due_diligence_npl_type_valid">
    <label class="form-check-label boolean optional dd-boolean d-flex align-items-center" for="due_diligence_npl_type_valid">
      <i class="far fa-check-circle check-icon"></i>NPL Type
    </label>

    <input class="hidden" type="checkbox" name="due_diligence[debtor_valid]" id="due_diligence_debtor_valid">
    <label class="form-check-label boolean optional dd-boolean d-flex align-items-center" for="due_diligence_debtor_valid">
      <i class="far fa-check-circle check-icon"></i>Debtor Info
    </label>

    <input class="hidden" type="checkbox" name="due_diligence[maturity_date_valid]" id="due_diligence_maturity_date_valid">
    <label class="form-check-label boolean optional dd-boolean d-flex align-items-center" for="due_diligence_maturity_date_valid">
      <i class="far fa-check-circle check-icon"></i>Maturity Date
    </label>

    <input class="hidden" type="checkbox" name="due_diligence[collateral_description_valid]" id="due_diligence_collateral_description_valid">
    <label class="form-check-label boolean optional dd-boolean d-flex align-items-center" for="due_diligence_collateral_description_valid">
      <i class="far fa-check-circle check-icon"></i>Collateral Info
    </label>

    <label class="form-check-label boolean optional dd-boolean d-flex align-items-center" for="due_diligence_guarantor_valid">
      <i class="far fa-check-circle check-icon"></i>Guarantor Info
    </label>
    <input name="due_diligence[guarantor_valid]" id="due_diligence_guarantor_valid" type="checkbox" class="hidden">
  </div>
  <%= f.input :legal_opinion %>
  <%= f.submit "Submit Due Diligence", class: "btn btn-primary btn-block btn-lg" %>
<% end %> 
