<form class="simple_form edit_due_diligence" id="edit_due_diligence_11" novalidate="novalidate" action="/npls/11/due_diligences/11" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="SEadjpoMNLEwTMWcGMp5I2eLwdxeQzqcQPPBJdYLnIq16q/4xflWrZkywphKb13nFU7R7CRhnqzMV0Ko8NFD/w==">

  <fieldset class="form-group boolean optional due_diligence_debtor_valid form-group-valid">
    <div class="form-check">
      <div class="hidden">
        <input name="due_diligence[debtor_valid]" type="hidden" value="0">
        <input class="form-check-input is-valid boolean optional" type="checkbox" value="1" checked="checked" name="due_diligence[debtor_valid]" id="due_diligence_debtor_valid">
      </div>
      <label class="form-check-label boolean optional dd-boolean" for="due_diligence_debtor_valid">Debtor valid</label>
    </div>
  </fieldset>


  <fieldset class="form-group boolean optional due_diligence_npl_type_valid form-group-valid">
    <div class="form-check">
      <div class="hidden">
        <input name="due_diligence[npl_type_valid]" type="hidden" value="0">
        <input class="form-check-input is-valid boolean optional" type="checkbox" value="1" checked="checked" name="due_diligence[npl_type_valid]" id="due_diligence_npl_type_valid">
      </div>
      <label class="form-check-label boolean optional dd-boolean" for="due_diligence_npl_type_valid">Npl type valid</label>
    </div>
  </fieldset>

  <fieldset class="form-group boolean optional due_diligence_maturity_date_valid form-group-valid">
    <div class="form-check">
      <div class="hidden">
        <input name="due_diligence[maturity_date_valid]" type="hidden" value="0">
        <input class="form-check-input is-valid boolean optional" type="checkbox" value="1" checked="checked" name="due_diligence[maturity_date_valid]" id="due_diligence_maturity_date_valid">
      </div>
      <label class="form-check-label boolean optional dd-boolean" for="due_diligence_maturity_date_valid">Maturity date valid</label>
    </div>
  </fieldset>

  <fieldset class="form-group boolean optional due_diligence_collateral_description_valid form-group-valid">
    <div class="form-check">
      <div class="hidden">
        <input name="due_diligence[collateral_description_valid]" type="hidden" value="0">
        <input class="form-check-input is-valid boolean optional" type="checkbox" value="1" checked="checked" name="due_diligence[collateral_description_valid]" id="due_diligence_collateral_description_valid">
      </div>
      <label class="form-check-label boolean optional dd-boolean" for="due_diligence_collateral_description_valid">Collateral description valid</label>
    </div>
  </fieldset>

  <fieldset class="form-group boolean optional due_diligence_guarantor_valid form-group-valid">
    <div class="form-check">
      <div class="hidden">
        <input name="due_diligence[guarantor_valid]" type="hidden" value="0">
        <input class="form-check-input is-valid boolean optional" type="checkbox" value="1" checked="checked" name="due_diligence[guarantor_valid]" id="due_diligence_guarantor_valid">
      </div>
      <label class="form-check-label boolean optional dd-boolean" for="due_diligence_guarantor_valid">Guarantor valid</label>
    </div>
  </fieldset>

  <input type="submit" name="commit" value="SUBMIT DUE DILIGENCE" data-disable-with="SUBMIT DUE DILIGENCE" class="btn btn-npl">

</form>