  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="QI9SlqLBvy+Xr3F14tSztpww0zKBXn0kHEau2L2rJZe9I2Dg/TTdMz7RdnGwcZdy7vXDAvt82RSQ4i1Vm3H64g==">
  <div class="form-group text required message_content">
    <textarea class="form-control text required" placeholder="Type a message" name="message[content]" id="message_content"></textarea>
  </div>
  <input type="submit" name="commit" value="Send" class="btn btn-lg btn-block btn-npl" data-disable-with="Send">