<div class="comparison">
  <table>
    <thead>
      <tr>
        <th class="tl tl2"></th>
        <th class="qbse">
          Basic Plan
        </th>
        <th colspan="2" class="qbo">
          Premium Experience
        </th>
      </tr>
      <tr>
        <th class="tl"></th>
        <th class="compare-heading">
          NPL Marketplace
        </th>
        <th class="compare-heading">
          Due-diligence Module
        </th>
        <th class="compare-heading">
          Servicing Module
        </th>
      </tr>
      <tr>
        <th></th>
        <th class="price-info">
          <div class="price-was"><span>&nbsp;</span></div>
          <div class="price-now"><span>4<span class="price-small">%</span></span> comission</div>
        </th>
        <th class="price-info">
          <div class="price-was">6% per sell</div>
          <div class="price-now"><span>5<span class="price-small">%</span></span> comission</div>
        </th>
        <th class="price-info">
          <div class="price-was">7% per sell</div>
          <div class="price-now"><span>6<span class="price-small">%</span></span> comission</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td colspan="4">Automated Online NPL Offerings</td>
      </tr>
      <tr class="compare-row">
        <td>Online NPL Platform</td>
        <td><i class="far fa-check-circle"></i></td>
        <td><i class="far fa-check-circle"></i></td>
        <td><i class="far fa-check-circle"></i></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Assignor/Assignee Support</td>
      </tr>
      <tr>
        <td>Customer Support</td>
        <td></td>
        <td><i class="far fa-check-circle"></i></td>
        <td><i class="far fa-check-circle"></i></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">NPL Due-dilligence</td>
      </tr>
      <tr class="compare-row">
        <td>NPL Due-dilligence</td>
        <td></td>
        <td><i class="far fa-check-circle"></i></td>
        <td><i class="far fa-check-circle"></i></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Servicing</td>
      </tr>
      <tr>
        <td>Servicing Info.</td>
        <td></td>
        <td></td>
        <td><i class="far fa-check-circle"></i></td>
      </tr>
      </tr>
    </tbody>
  </table>

  <input type="submit" name="commit" value="GET THE FULL YIELD EXPERIENCE" class="btn btn-npl btn-block" data-disable-with="GET THE FULL YIELD EXPERIENCE" id="due-diligence-btn">
  <a class="basic" href="javascript:{}" onclick="document.getElementById('new_npl').submit();">or continue with Basic Plan</a>
</div>