<div class="modal-additional-info text-center">

  <i class="fas fa-crown"></i>
  
  <h3>Premium Feature</h3>
  <h5 class="text-center">Are you sure you want to access this information?</h5>
  <br>
  <%= link_to "REQUEST ADDITIONAL INFO", npl_additional_info_path(@npl), class: "btn btn-npl btn-block mb-4", id: "debtor-info"%>
</div>