<div class="container">
  <div class="cards d-flex justify-content-between flex-wrap">
    <% @npls.each do |npl| %>
    <div class="npl-card mx-0 my-4">
      <h2><%= link_to npl.name, npl_path(npl) %></h2>
      <p><strong> Asset Type: </strong><%= npl.npl_type %></p>
      <p><strong>Book value: </strong><%= npl.book_value %></p>
    </div>
    <% end %>
  </div>

  <%= link_to 'Start a NPL offer', new_npl_path, class: "btn btn-primary btn-block btn-lg" %>
</div>

