<div class="container">
  <% @npls.each do |npl| %>
  <h1><%= link_to npl.name, npl_path(npl) %></h1>
  <p><%= npl.npl_type %></p>
  <p><%= npl.book_value %></p>
  <% end %>

  <%= link_to 'Start a NPL offer', new_npl_path, class: "btn btn-primary" %>
</div>

