.banner {
  .image-banner{
    padding-top: 30vh;
    height: calc(100vh - 20vh);
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://res.cloudinary.com/alanmareines/image/upload/v1574283756/assets_npl/ponte_estaiada_rsruc5.jpg');
    text-align: center;
  }
  h1 {
    margin: 0;
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    font-size: 50px;
    font-weight: bold;
  }
  p {
    font-size: 30px;
    color: $green;
    opacity: 1;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  }
}

.buttons{
  .btn{
    min-width: 300px;
    border-radius: 0px;
    font-weight:700;
    background-color: transparent;
    color:white;
    border: 2px white solid;
    transition: 0.4s all 0s ease;
    &:hover{
    border: 2px $green solid;
    background-color: $green;
    color:$npl-blue;
    }
  }
}

