.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  margin: 16px 16px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 0px;
  width:calc(100%/3.3);
  h3{
    text-align:center;
    font-weight:bold;
    font-size: 21px;
  }
  p{
    font-size:16px;
    // text-align: center;
    // text-justify: inter-word;
  }
}

.cards{
  margin: 40px 0 0 0;
}

.card-image{
  text-align: center;
  img{
    position:relative;
    z-index:10;
    margin-top: -100px;
    height: 180px;
    width: 180px;
    border:3px $green solid;
    border-radius:50%;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }
}

.number{
  z-index: 1;
  top: -28px;
  width:50px;
  height:50px;
  position:absolute;
  background-color: $green;
  border-radius: 50%;
  text-align:center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h2{
  font-size: 32px;
  text-align:center;
  line-height: 50px;
  }
}

.order1 {
  position:absolute;
  // left:240px;
  left:10.5%;
  // margin-left: -25px;
  }

.order2 {
  position:absolute;
  left:35.5%;
  // margin-left:-25px;
  }

.order3 {
  position:absolute;
  // right:240px;
  left:60.5%;
  // margin-right:-25px;
  }

  .order4 {
  position:absolute;
  // right:240px;
  left:85.5%;
  // margin-right:-25px;
  }
