body{
  background: linear-gradient(rgba(211,219,226,0.6),rgba(211,219,226,0.6)), url(https://res.cloudinary.com/alanmareines/image/upload/v1574283747/assets_npl/background_saopaulo_pcpxv6.jpg);
  background-size: cover;
  background-repeat: repeat-y;
}

.page-content{
  background-color: #ffff;
  border-radius: 0px;
  padding: 2rem 0;
  margin: 32px 0;
}