.form-check{
  padding:0px;
}

.form-dd{
  .form-check-input{
  display:none;
  }
  .form-check-label{
    flex-grow: 1;
    width:100%;
    text-align: center;
    background-color: transparent;
    border: 2px #a90202 solid;
    border-radius: 8px;
    min-width: 100%;
    padding: 1rem;
    opacity: 0.5;
    margin-bottom:1em;
    color: #a90202;
    &:hover{
      cursor: pointer;
      opacity: 1;
    }
  }
}

.active{
  color: rgb(5, 64, 62) !important;
  border-color: rgb(5, 64, 62) !important;
  opacity:1;
}

.due_diligence_legal_opinion{
  color: $npl-blue;
  font-size: 24px;
}

#due_diligence_legal_opinion{
  height:155px;
}