.navbar-lewagon {
  justify-content: space-between;
  background: #394a6d;
  .navbar-collapse {
    flex-grow: 0;
  };
  .navbar-brand img {
    width: 50px;
  };
  a{
    text-decoration: none;
  }
}
